$main: #00bff3;
$main-opaque: rgba(0, 191, 243, 0.93);
$grey: #C3C3C3;
$text: #4A4A4A;
$bg: #ECECEC;

html, body{
  width: 100%;
  height: 100%;
  font-family: 'Special Elite', 'Helvetica Neue', sans-serif;
  background: #777;
}

*{
  box-sizing: border-box;
}

h1{
  font-size: 45px;
  margin: 0;
  color: $text;
}
h2{
  font-size: 28px;
  margin: 16px 0;
  color: $text;
}
p{
  color: $text;
  line-height: 24px;
}
h2.proj-title{
  color: $grey;
  margin: 0;
  cursor: pointer;
  &:hover{
    color: $main;
  }
}
p.proj-des{
  color: $grey;
  margin-bottom: 16px;
  margin-top: 0;
}
p.update-date{
  color: $main;
  margin: 0;
}
.update-content{
  p:nth-of-type(1){
    margin-top: 0;
  }
}
p.tags{
  color: $grey;
  .tag{
    margin-right: 16px;
  }
}
.material-icons{
  vertical-align: middle;
}
.navbar{
  display: none;
}

// for temporarily disabling scroll
.noscroll{
  overflow: hidden;
}
.landing{
  h1{
    margin-bottom: 32px;
    height: 90px;
    #scrolltext{
      text-decoration: underline;
      animation: glowing 3s linear 1.6s infinite;
    }
  }
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10px);
  text-align: center;
  -webkit-box-shadow:inset 0 0 150px 0 rgba(0,0,0,.1);
  box-shadow:inset 0 0 150px 0 rgba(0,0,0,.1);
  position: relative;
  .content{
    width: 100%;
    padding: 32px;
    max-width: 800px;
  }
  .image{
    max-width: 300px;
    width: 50%;
    margin: 0 auto; 
    margin-bottom: 32px;
    svg{
      width: 100%;
      #lids{
        opacity: 0;
      }
      .eye{
        
      }
      &:hover{
        #lids{
          opacity: 1;
        }
      }
    }
  }
  .nav{
    position: relative;    // overflow:hidden;
    .button{
      float: left;
      width: 33.3333%;
      height: 80px;
      margin-bottom: 16px;
      a{
        transition: .5s ease all;
        text-decoration: none;
        color: inherit;
        line-height: 80px;
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        // border: 2px dashed transparent;
        position: relative;
        overflow: hidden;
        i{
          transition: .5s ease all;
          position: absolute;
          width: 100%;
          height: 100%;
          line-height: 80px;
          top: 0;
          left: 0;
          opacity: 0;
          // animation: color 5s linear infinite;
        }
        .text{
          transition: .5s ease all;
          opacity: 1;
        }
        &:before{
          transition: .5s ease all;
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 3px dotted $main;
          box-sizing: border-box;
          opacity: 0;
          animation: rotation 5s linear infinite;

        }
        &:hover{
          // border-color: $main;
          transform: scale(1.2);
          &:before{
            opacity: 1;          
          }
          i{
            opacity: 1;
          }
          .text{
            opacity: 0;
          }
        }
      }
    }
  }
  .scrolltip{
    position: absolute;
    bottom: 0;
    left: 0;
    p, i{
      color: $grey;
    }
    
    width: 100%;
    padding-left: 10px;
  }
}

.update{
  background: $bg;
  overflow: hidden;
  min-height: 300px;
  border-top:1px solid $main;
  position: relative;
  .text{
    width: 50%;
    max-width: 600px;
    float: left;
    padding: 32px;
  }
  &.gallery{
    .images{
      transition: .5s ease all;
      width: 50vw;
      white-space: nowrap;
      // padding-top: 32px;
      background: $bg;
      height: 100%;
      position: absolute;
      width: 50vw;
      overflow: hidden;
      left: 50vw;
      top: 0;
      &:hover{
        .image{
          // margin-right: -23vw;
          margin-right: -130px;
        }
      }
      &:before {
        content: " ";
        display: inline-block;
        height: 100%;
        width: 1%;
        vertical-align: middle;
      }
      &.expanded{
        width: 100vw;
        left: 0;
        .image{
          // animation: bounce .6s ease;
          margin-right: 32px;
          // margin-left: 32px;
        }
        .left, .right{
          display: initial;
        }
      }
      &.bounce{
        .image{
          animation: bounce .6s ease;
        }
      }
      &.bounce-reverse{
        .image{
          animation: bounce-reverse .6s ease;
        }
      }
      .image{
        vertical-align: middle;
        cursor: pointer; 
        transition: .5s ease all;
        // width: 25vw;
        min-width: 200px;
        // height: 20vw;
        height: 300px;
        margin: 16px 32px;
        margin-right: -180px;
        // margin-left: -150px;
        display: inline-block;
        background: $grey;
        border: 5px solid white;
        position: relative;
        box-shadow: 1px 3px 0 $grey;
        overflow: hidden;
        img{
          height: 300px;
          margin: 0 auto;
        }
        &:hover{
          box-shadow: 3px 5px 0 $main;
        }
        .hover{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background: white;
          padding: 8px 16px;
          p.caption{
            margin: 0;
            margin-bottom: 8px;
            overflow:hidden;
            text-overflow: ellipsis;
          }
        }
        &:nth-of-type(4n + 1){
          transform: rotate(-5deg);
        }
        &:nth-of-type(4n + 2){
          transform: rotate(2deg);
        }
        &:nth-of-type(4n + 3){
          transform: rotate(-2deg);
        }
        &:nth-of-type(4n + 4){
          transform: rotate(4deg);
        }
      }
      .left, .right{
        display: none;
        cursor: pointer;
        transition: .5s ease all;
        background: rgba(255,255,255,.5);
        color: $grey;
        padding: 32px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &:hover{
          background: $main;
          color: white;
        }
      }
      .left{
        left: 0;
        &:hover{
          padding-left: 48px
        }
      }
      .right{
        right: 0;
        &:hover{
          padding-right: 48px
        }
      }
    }
  }
}

.bigimg{
  opacity: 0;
  transition: .5s ease all;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $main-opaque;
  overflow: auto;
  padding: 16px;
  padding-top: 100vh;
  z-index: 100;
  overflow: auto;
  &.show{
    opacity: 1;
    padding-top: 100px;
  }
  &.hidden{
    z-index: -100;
  }
  img{
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 1200px;
    // background: rgba(255,255,255,.5);
  }
  .close{
    padding: 32px;
    cursor: pointer;
    transition: .5s ease all;
    background: rgba(255,255,255,.5);
    color: $grey;
    padding: 32px;
    position: fixed;
    top: 0;
    right: 32px;
    &:hover{
      background: white;
      color: $main;
      padding-top: 48px;
    }
  }
  p.caption{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.5);
    margin: 0;
    padding: 32px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 150px;
  }
}

@media (min-width: 1201px){
  .update{
    .text{
      margin-left: calc(50vw - 600px);
    }
  }

}

@media (max-width: 960px) {
  .update.gallery{
    .images{
      height: 370px;
      width: 100vw;
      left: 0;
      &:hover{
        .image{
          margin-right: 32px;
        }
        
      }
      .image{
        // animation: bounce .6s ease;
        margin-right: 32px;
        max-width: 80%;
        // margin-left: 32px;
      }
      .left, .right{
        display: initial;
      }
    }
    .text{
      width: 100%;
      padding-top: 402px;
      max-width: 760px
    }
  }

}
@keyframes flicker {
    from {-webkit-box-shadow:inset 0 0 150px 0 rgba(0,0,0,.1);
          box-shadow:inset 0 0 150px 0 rgba(0,0,0,.1);}
    to {-webkit-box-shadow:inset 0 0 150px 0 rgba(0,0,0,.2);
        box-shadow:inset 0 0 150px 0 rgba(0,0,0,.2);}
}

@keyframes rotation {
    0% {-webkit-transform: rotate(0deg); border-color: $main}
    25% {border-color: red}
    50% {border-color: orange}
    75% {border-color: greenyellow}
    100%   {-webkit-transform: rotate(359deg); border-color: $main}
}

@keyframes glowing {
  0% {text-shadow: 0 0 0 $main; color: $main;}
  50% {text-shadow: 0 0 80px transparent; color: transparent;}
  52% {color: $text}
}

@keyframes color {
  0% {color: $main}
  25% {color: red}
  50% {color: orange}
  75% {color: greenyellow}
  100% {border-color: $main}
}

@keyframes bounce {
  0% {left: 0;}
  33% {left: 32px;}
  66% {left: -16px;}
  100% {left: 0px;}
}

@keyframes bounce-reverse {
  0% {left: 0;}
  33% {left: -32px;}
  66% {left: 16px;}
  100% {left: 0px;}
}