$main: #00bff3;
$main-opaque: rgba(0, 191, 243, 0.93);
$light: skyblue;
$grey: #C3C3C3;
$text: #4A4A4A;
$bg: #ECECEC;
$bg-opaque: rgba(236, 236, 236, 0.95);
$shadow: rgba(0, 0, 0, 0.35);

html, body{
  transition: .2s ease all;
  width: 100%;
  height: 100%;
  font-family: 'Special Elite', 'Helvetica Neue', sans-serif;
  background: #777;
}

*{
  box-sizing: border-box;
}

h1{
  font-size: 45px;
  margin: 0;
  color: $text;
}
h2{
  font-size: 28px;
  margin: 16px 0;
  color: $text;
  strong{
    border-bottom: 4px solid $light;
  }
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:hover{
    color: $main;
  }
}
p{
  color: $text;
  line-height: 24px;
  strong{
    border-bottom: 4px solid $light;
  }
}
h2.proj-title{
  color: $grey;
  margin: 0;
  cursor: pointer;
  &:hover{
    color: $main;
  }
}
p.proj-des{
  color: $grey;
  margin-bottom: 16px;
  margin-top: 0;
}
p.update-date{
  color: $main;
  margin: 0;
}
p.award{
  color: $grey;
  i{
    color: gold;
  }
}
.update-content{
  p:nth-of-type(1){
    margin-top: 0;
  }
}
p.tags{
  color: $grey;
  .tag{
    margin-right: 16px;
  }
}
.material-icons{
  vertical-align: middle;
}

//navigation
.navbar{
  // display: none;
  transition: .5s transform ease;
  // height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  -webkit-box-shadow: 0 0 150px 0 rgba(0,0,0,.1);
  box-shadow: 0 0 150px 0 rgba(0,0,0,.1);
  padding: 9px 0;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  background: transparent;
  box-shadow: none;
  &:hover{
    width: 100%;
    ul{
      li{
        opacity: 1;
        transform: translateY(0);
        &:nth-of-type(1){
          transition-delay: 0s;
        }
        &:nth-of-type(2){
          transition-delay: .1s;
        }
        &:nth-of-type(3){
          transition-delay: .2s;
        }
      }
    }
  }
  &.hidden{
    transform: translateY(-100%);
    ul{
      li{
        opacity: 0;
        transform: translateY(-70px);
      }
    }
  }
  .navbar-brand{
    margin-left: 32px;
    width: 70px;
    height: 70px;
    display: inline-block;
    padding: 10px 5px 0 5px;
    vertical-align: middle;
    background: rgba(255,255,255,.95);
  }
  ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    li{
      margin-left: -5px;
      transition: .5s ease all;
      display: inline-block;
      width: 70px;
      height: 70px;
      line-height: 70px;
      position: relative;
      text-align: center;
      // margin-right: 16px;
      background: white;
      opacity: 0;
      transform: translateY(-70px);
      i{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        line-height: 70px;
        top: 0;
        left: 0;
        opacity: 1;
        transition: .5s ease all;

      }
      span{
        transition: .5s ease all;
        opacity: 0;
        color: white;
      }
      &:nth-of-type(1){
        transition-delay: .2s;
      }
      &:nth-of-type(2){
        transition-delay: .1s;
      }
      &:hover{
        // color: white;
        background: $main;
        i{
          opacity: 0;
        }
        span{
          opacity: 1;
        }
      }
      a{
        display: block;
      }
    }

  }}

// for temporarily disabling scroll
.noscroll{
  overflow: hidden;
}
.landing{
  h1{
    margin-bottom: 32px;
    height: 90px;
    #scrolltext{
      text-decoration: underline;
      animation: glowing 3s linear 1.6s infinite;
    }
  }
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10px);
  text-align: center;
  -webkit-box-shadow:inset 0 0 150px 0 rgba(0,0,0,.1);
  box-shadow:inset 0 0 150px 0 rgba(0,0,0,.1);
  position: relative;
  .content{
    width: 100%;
    padding: 32px;
    max-width: 800px;
  }
  .image{
    max-width: 300px;
    width: 50%;
    margin: 0 auto; 
    margin-bottom: 32px;
    svg{
      width: 100%;
      #lids{
        opacity: 0;
      }
      .eye{
        
      }
      &:hover{
        #lids{
          opacity: 1;
        }
      }
    }
  }
  .nav{
    position: relative;    // overflow:hidden;
    .button{
      float: left;
      width: 33.3333%;
      height: 80px;
      margin-bottom: 16px;
      a{
        transition: .5s ease all;
        text-decoration: none;
        color: inherit;
        line-height: 80px;
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        // border: 2px dashed transparent;
        position: relative;
        overflow: hidden;
        i{
          transition: .5s ease all;
          position: absolute;
          width: 100%;
          height: 100%;
          line-height: 80px;
          top: 0;
          left: 0;
          opacity: 0;
          // animation: color 5s linear infinite;
        }
        .text{
          transition: .5s ease all;
          opacity: 1;
        }
        &:before{
          transition: .5s ease all;
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 3px dotted $main;
          box-sizing: border-box;
          opacity: 0;
          animation: rotation 5s linear infinite;

        }
        &:hover{
          // border-color: $main;
          transform: scale(1.2);
          &:before{
            opacity: 1;          
          }
          i{
            opacity: 1;
          }
          .text{
            opacity: 0;
          }
        }
      }
    }
  }
}
.scrolltip{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  p, i{
    color: $grey;
  }
  
  width: 100%;
  padding-left: 10px;
}

.work{
  padding: 0;
  ::-webkit-scrollbar { 
      display: none; 
  }
  .projects{
    background: white;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    overflow: auto;
    //this is ignored by safari and firefox
    // padding-bottom: 64px;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 96px;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 70%); 
      z-index: 10;
    }
    .project{
      cursor: pointer;
      box-shadow: inset 0 0 5px $shadow;
      min-height: 250px;
      flex: 1 0 25%;
      flex-grow: 1;
      // min-width: 25%;
      background: $grey;
      // border: 1px solid white;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &:before{
        transition: .3s all ease;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $main;
        opacity: 0;
      }
      &:hover{
        &:before{
          opacity: .8;
        }
        h2, p.tag{
          opacity: 1;
          transform: translateY(0);
        }
      }
      h2{
        transition: .2s ease all;
        transform: translateY(50px);
        color: white;
        position: relative;
        opacity: 0;
        margin: 0;
      }
      p.tag{
        margin: 0;
        transition: .3s ease all;
        transform: translateY(50px);
        color: rgba(255,255,255,.8);
        position: relative;
        opacity: 0;
      }
    }
  }
}

.project-title{
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10px);
  text-align: center;
  -webkit-box-shadow:inset 0 0 150px 0 rgba(0,0,0,.1);
  box-shadow:inset 0 0 150px 0 rgba(0,0,0,.1);
  position: relative;
  overflow: hidden;
  .content{
    padding: 32px;
    padding-top: 64px;
  }
  .preview{
    width: 100%;
    max-width: 1000px;
    border: 64px solid $bg;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom: none;
    border-radius: 12px 12px 0 0 ;
    flex: 1;
    box-shadow: 0 3px 3px $shadow; 
    position: relative;
    .buttons{
      position: absolute;
      top: -40px;
      left: 16px;
      .button{
        display: inline-block;
        width: 16px;
        height: 16px;
        background: lightgrey;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: none;
    }
    &.phone{
      max-width: 480px;
      .buttons{
        left: auto;
        right: 32px;
      }
    }
  }
}
.update{
  background: $bg;
  overflow: hidden;
  min-height: 300px;
  border-top:1px solid $main;
  position: relative;
  // -webkit-box-shadow:inset 0 0 150px 0 rgba(0,0,0,.1);
  // box-shadow:inset 0 0 150px 0 rgba(0,0,0,.1);
  // margin-bottom: 5px;
  .text{
    width: 50%;
    max-width: 600px;
    float: left;
    padding: 32px;
    p{
      a{
        font-weight: bold;
        border-bottom: 4px solid $light;
        i{
          color: $light;
        }
      }
    }
  }
  // single image posts
  &.single{
    padding: 32px 0;
    .text{
      background: $bg-opaque;
    }
  }

  &.textonly{
    .text{
      width: 100%;
      max-width: 1200px;
      .update-content{
        columns: auto 2;
        column-gap: 32px;
      }
    }
  }
  // gallery posts
  &.gallery{
    .images{
      transition: .5s ease all;
      width: 50vw;
      white-space: nowrap;
      // padding-top: 32px;
      height: 100%;
      position: absolute;
      width: 50vw;
      overflow: hidden;
      left: 50vw;
      top: 0;
      background: transparent;
      &:hover{
        .image{
          // margin-right: -23vw;
          margin-right: -220px;
        }
      }
      &:before {
        content: " ";
        display: inline-block;
        height: 100%;
        width: 1%;
        vertical-align: middle;
      }
      &.expanded{
        background: $bg;
        width: 100vw;
        left: 0;
        .image{
          // animation: bounce .6s ease;
          margin-right: 32px;
          // margin-left: 32px;
        }
        .left, .right{
          display: initial;
        }
      }
      &.bounce{
        .image{
          animation: bounce .6s ease;
        }
      }
      &.bounce-reverse{
        .image{
          animation: bounce-reverse .6s ease;
        }
      }
      .image{
        vertical-align: middle;
        cursor: pointer; 
        transition: .5s ease all;
        // width: 25vw;
        min-width: 200px;
        // height: 20vw;
        height: 300px;
        margin: 16px 32px;
        margin-right: -264px;
        // margin-left: -150px;
        display: inline-block;
        background: $grey;
        border: 5px solid white;
        position: relative;
        box-shadow: 1px 3px 0 $grey;
        overflow: hidden;
        img{
          height: 300px;
          margin: 0 auto;
        }
        &:hover{
          box-shadow: 3px 5px 0 $main;
        }
        .hover{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background: white;
          padding: 8px 16px;
          p.caption{
            margin: 0;
            margin-bottom: 8px;
            overflow:hidden;
            text-overflow: ellipsis;
          }
        }
        &:nth-of-type(4n + 1){
          transform: rotate(-5deg);
        }
        &:nth-of-type(4n + 2){
          transform: rotate(2deg);
        }
        &:nth-of-type(4n + 3){
          transform: rotate(-2deg);
        }
        &:nth-of-type(4n + 4){
          transform: rotate(4deg);
        }
      }
      .left, .right{
        display: none;
        cursor: pointer;
        transition: .5s ease all;
        background: rgba(255,255,255,.5);
        color: $grey;
        padding: 32px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &:hover{
          background: $main;
          color: white;
        }
      }
      .left{
        left: 0;
        &:hover{
          padding-left: 48px
        }
      }
      .right{
        right: 0;
        &:hover{
          padding-right: 48px
        }
      }
    }
  }
}

.loadmore{
  transition: .3s ease all;
  padding: 32px 64px;
  background: white;
  color: $main;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid $main;
  &:hover{
    background: $main;
    color: white;
  }
}

.bigimg{
  opacity: 0;
  transition: .5s ease all;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $main-opaque;
  overflow: auto;
  padding: 16px;
  // padding-top: 100vh;
  z-index: 100;
  overflow: auto;
  &.show{
    opacity: 1;
    // padding-top: 16px;
    img{
      transform: translateY(0);
      opacity: 1;
    }
  }
  &.changing{
    img{
      transform: translateY(500px);
      opacity: 0;
    }
  }
  &.hidden{
    z-index: -100;
  }
  img{
    transition: .5s all ease;
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 1200px;
    transform: translateY(500px);
    opacity: 0;
    margin-bottom: 100px;
    // background: rgba(255,255,255,.5);
  }
  .close{
    padding: 32px;
    cursor: pointer;
    transition: .5s ease all;
    background: rgba(255,255,255,.5);
    color: $main;
    padding: 32px;
    position: fixed;
    bottom: 0;
    right: 32px;
    z-index: 100;
    &:hover{
      background: white;
      // color: $main;
      padding-bottom: 48px;
    }
  }
  .nav{
    .left, .right{
      position: fixed;
      top: 0;
      width: 10%;
      height: 100vh;
      float: left;
    }
    .left{
      cursor: url(../images/left.png), w-resize;
      left: 0;
    }
    .right{
      cursor: url(../images/right.png), e-resize;
      right: 0; 
    }
  }
  p.caption{
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,.5);
    margin: 0;
    padding: 32px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 150px;
  }
}

.footer{
  padding: 64px;
  text-align: center;
  background: $bg;
  border-top: 1px solid $main;
  .copyright{
    color: $grey;
    margin: 0;
  }
}

@media (min-width: 1201px){
  .update{
    .text{
      margin-left: calc(50vw - 600px);
    }
  }

}

@media (max-width: 960px) {
  .navbar{
    top: auto;
    bottom: 0px;
    &.hidden{
      transform: translateY(100%);
      ul{
        li{
          transform: translateY(100%);
        }
      }
        
    }
    ul{
      li{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .work{
    .projects{
      .project{
        min-width: 50%;
      }
    }
  }
    
  .update.gallery{
    .images{
      height: 370px;
      width: 100vw;
      left: 0;
      &:hover{
        .image{
          margin-right: 32px;
        }
        
      }
      .image{
        // animation: bounce .6s ease;
        margin-right: 32px;
        max-width: 80%;
        // margin-left: 32px;
      }
      .left, .right{
        display: initial;
        padding: 16px;
      }
    }
    .text{
      width: 100%;
      padding-top: 402px;
      max-width: 760px
    }
  }
  .update.single{
    padding: 0;
    background: $bg !important;
    .text{
      // margin-top: 180px;
      background: transparent;
      width: 100%;
      max-width: 760px;
    }
    .single-image{
      height: 300px;
    }
  }
  .update.textonly{
    .text{
      max-width: 760px;
      .update-content{
        columns: auto 1;
      }
    }
  }
}
@keyframes flicker {
    from {-webkit-box-shadow:inset 0 0 150px 0 rgba(0,0,0,.1);
          box-shadow:inset 0 0 150px 0 rgba(0,0,0,.1);}
    to {-webkit-box-shadow:inset 0 0 150px 0 rgba(0,0,0,.2);
        box-shadow:inset 0 0 150px 0 rgba(0,0,0,.2);}
}

@keyframes rotation {
    0% {-webkit-transform: rotate(0deg); border-color: $main}
    25% {border-color: red}
    50% {border-color: orange}
    75% {border-color: greenyellow}
    100%   {-webkit-transform: rotate(359deg); border-color: $main}
}

@keyframes glowing {
  0% {text-shadow: 0 0 0 $main; color: $main;}
  50% {text-shadow: 0 0 80px transparent; color: transparent;}
  52% {color: $text}
}

@keyframes color {
  0% {color: $main}
  25% {color: red}
  50% {color: orange}
  75% {color: greenyellow}
  100% {border-color: $main}
}

@keyframes bounce {
  0% {left: 0;}
  33% {left: 32px;}
  66% {left: -16px;}
  100% {left: 0px;}
}

@keyframes bounce-reverse {
  0% {left: 0;}
  33% {left: -32px;}
  66% {left: 16px;}
  100% {left: 0px;}
}