<div class="project-title">
    <div class="content">
        <h1>OneRing</h1>
        <h2>A watch that makes you more productive</h2>
    </div>
    <div class="preview" style="background: lightgrey;">
        <iframe width="1000" height="563" src="https://www.youtube.com/embed/9Nv8r0fbAsQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <div class="buttons">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
        </div>
    </div>
</div>
