<div class="project-title">
    <div class="content">
        <h1>BrisAccess</h1>
        <h2>get around Brisbane in a wheelchair problem free</h2>
        <p class="award"><i class="material-icons">&#xE8D0;</i> Winner of Support for People with Disabilities Challenge, GovHack 2015</p>
    </div>
    <div class="preview" style="background: lightgrey;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fb-2T4rUFrk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <div class="buttons">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
        </div>
    </div>
</div>
