<div class="landing">
  <div class="content">
    <div class="image">
      <div ng-include="'images/logo.svg'"></div>
    </div>
    <div>
      <h2>Jonny Lu</h2> 
      <h1>THE <span id="scrolltext">UX</span> MAN</h1>
    </div>
    <div class="nav">
      <div class="button">
        <a href="#/about">about</a>
      </div>
      <div class="button">
        <a href="#/work">work</a>
      </div>
      <div class="button">
        <a href="#/contact">contact</a>
      </div>
    </div>
  </div>
  <div class="scrolltip">
    <p>latest <i class="material-icons">&#xE313;</i> updates</p>
  </div>
</div>
<div class="updates">
  updates here
</div>
