<div class="landing">
  <div class="content">
    <div class="image">
      <div ng-include="'images/logo.svg'"></div>
    </div>
    <div>
      <h2>Jonny Lu</h2> 
      <h1>THE <span id="scrolltext">UX</span> MAN</h1>
    </div>
    <div class="nav">
      <div class="button">
        <a href="#/about"><i class="material-icons">&#xE7FF;</i><span class="text">about</span></a>
      </div>
      <div class="button">
        <a href="#/work"><i class="material-icons">&#xE42A;</i><span class="text">work</span></a>
      </div>
      <div class="button">
        <a href="mailto:johnnyluuu+work@gmail.com"><i class="material-icons">&#xE0E1;</i><span class="text">email</span></a>
      </div>
    </div>
  </div>
  <div class="scrolltip">
    <p>latest <i class="material-icons">&#xE313;</i> updates</p>
  </div>
</div>
