<div class="landing">
  <div class="content">
    <div class="image">
      <div ng-include="'images/logo.svg'"></div>
    </div>
    <div>
      <h2>Jonny Lu</h2> 
      <h1>THE <span id="scrolltext">UX</span> MAN</h1>
    </div>
    <div class="nav">
      <div class="button">
        <a href="#/about"><i class="material-icons">&#xE416;</i><span class="text">about</span></a>
      </div>
      <div class="button">
        <a href="#/work"><i class="material-icons">&#xE42A;</i><span class="text">work</span></a>
      </div>
      <div class="button">
        <a href="#/contact"><i class="material-icons">&#xE8AF;</i><span class="text">contact</span></a>
      </div>
    </div>
  </div>
  <div class="scrolltip">
    <p>latest <i class="material-icons">&#xE313;</i> updates</p>
  </div>
</div>
<div class="updates">
  <div class="update textonly">
    <div class="text">
      <h2 class="proj-title">Portfolio 2016<i class="material-icons">&#xE5C8;</i></h2>
      <p class="proj-des">A completely redesigned portfolio</p>
      <p class="update-date">01 Feb 2016</p>
      <div class="update-content">
        <p>My last portfolio was a text based site, it was a concise, fun little site, but the format was a little limiting and I wasn't really updating it. I thought I would <strong>redesign my portfolio to better present me and my professional work, while making me want to update more</strong>. After experimenting with different layout, colour scheme, fonts, and novel interaction idea, I came to the conclusion that a casual and fun journal format would both be able to present my work in flexible layout and interest me to write in it.</p>
        <p>I try to keep a unique style to the website, so I decided on the combination of a typewritter font, flat graphic, and simplistic layout. Something that's different from the one page bootstrap layout everyone is using recently. To eliminate the need for formatting individual posts and webpages, I kept the colour choices, text styles and layout very limited, so that the focus is alway on content itself.</p>
      </div>
      <p class="tags"><span class="tag">#WebDesign</span> <span class="tag">#FrontendDevelopment</span> <span class="tag">#GraphicDesign</span> <span class="tag">#AngularJS</span> <span class="tag">#SASS</span> <span class="tag">#SVG</span> <span class="tag">#Git</span> <span class="tag">#Illustrator</span> <span class="tag">#Photoshop</span></p>
    </div>
  </div>
  <div class="update single" style="background: url('images/portfolio/Capture.png') no-repeat center top; background-size: cover;">
    <div class="single-image" style="background: url('images/portfolio/Capture.png') no-repeat center top; background-size: cover;"></div>
    <div class="text">
      <h2 class="proj-title">Portfolio 2016<i class="material-icons">&#xE5C8;</i></h2>
      <p class="proj-des">A completely redesigned portfolio</p>
      <p class="update-date">01 Feb 2016</p>
      <div class="update-content">
        <p>My last portfolio was a text based site, it was a concise, fun little site, but the format was a little limiting and I wasn't really updating it. I thought I would <strong>redesign my portfolio to better present me and my professional work, while making me want to update more</strong>. After experimenting with different layout, colour scheme, fonts, and novel interaction idea, I came to the conclusion that a casual and fun journal format would both be able to present my work in flexible layout and interest me to write in it.</p>
        <p>I try to keep a unique style to the website, so I decided on the combination of a typewritter font, flat graphic, and simplistic layout. Something that's different from the one page bootstrap layout everyone is using recently. To eliminate the need for formatting individual posts and webpages, I kept the colour choices, text styles and layout very limited, so that the focus is alway on content itself.</p>
      </div>
      <p class="tags"><span class="tag">#WebDesign</span> <span class="tag">#FrontendDevelopment</span> <span class="tag">#GraphicDesign</span> <span class="tag">#AngularJS</span> <span class="tag">#SASS</span> <span class="tag">#SVG</span> <span class="tag">#Git</span> <span class="tag">#Illustrator</span> <span class="tag">#Photoshop</span></p>
    </div>
  </div>
  <div class="update gallery">
    <div class="text">
      <h2 class="proj-title">Portfolio 2016<i class="material-icons">&#xE5C8;</i></h2>
      <p class="proj-des">A completely redesigned portfolio</p>
      <p class="update-date">01 Feb 2016</p>
      <div class="update-content">
        <p>My last portfolio was a text based site, it was a concise, fun little site, but the format was a little limiting and I wasn't really updating it. I thought I would <strong>redesign my portfolio to better present me and my professional work, while making me want to update more</strong>. After experimenting with different layout, colour scheme, fonts, and novel interaction idea, I came to the conclusion that a casual and fun journal format would both be able to present my work in flexible layout and interest me to write in it.</p>
        <p>I try to keep a unique style to the website, so I decided on the combination of a typewritter font, flat graphic, and simplistic layout. Something that's different from the one page bootstrap layout everyone is using recently. To eliminate the need for formatting individual posts and webpages, I kept the colour choices, text styles and layout very limited, so that the focus is alway on content itself.</p>
        <p>So far, I have designed three different kinds of post format: gallery (which this post uses), single image, and text only posts. These will cover most of the content I will be posting, but I will be able to easily add new kinds of post due to the flexiblity of the layout. After designing the mockups in photoshop, planning the transitions and animations, I developed the website from scratch with HTML5, SASS, and Angular JS.</p>
      </div>
      <p class="tags"><span class="tag">#WebDesign</span> <span class="tag">#FrontendDevelopment</span> <span class="tag">#GraphicDesign</span> <span class="tag">#AngularJS</span> <span class="tag">#SASS</span> <span class="tag">#SVG</span> <span class="tag">#Git</span> <span class="tag">#Illustrator</span> <span class="tag">#Photoshop</span></p>
    </div>
    <div class="images" id="01112015morofton">
      <div class="image">
        <img src="images/portfolio/Capture.png">
        <div class="hover">
          <p class="caption">The old portfolio is text based with links to the work I have done.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/portfolio/sketch.png">
        <div class="hover">
          <p class="caption">Early Sketch that features a translucent landing page.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/portfolio/landing.gif">
        <div class="hover">
          <p class="caption">The coming soon landing page had a bright red colour scheme and bold fonts.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/portfolio/home.gif">
        <div class="hover">
          <p class="caption">Changing text, glowing buttons, and eyes that follow your cursor.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/portfolio/posts.png">
        <div class="hover">
          <p class="caption">Three post templates: gallery, single image, and text only.</p>
        </div>
      </div>
      <div class="left" ng-click="back('#01112015morofton'); $event.stopPropagation();"><i class="material-icons">&#xE5CB;</i></div>
      <div class="right" ng-click="next('#01112015morofton'); $event.stopPropagation()"><i class="material-icons">&#xE5CC;</i></div>
    </div>
  </div>
</div>
<div class="bigimg hidden">
  <img ng-src="{{imgurl}}">
  <p class="caption" ng-show="imgcaption">{{imgcaption}}</p>
  <div class="close" ng-click="hideBigImg()">
    <i class="material-icons">&#xE313;</i>
  </div>
  <div class="nav">
    <div class="left" ng-click="lastSlide();"></div>
    <div class="right" ng-click="nextSlide();"></div>
  </div>
</div>
