<div class="project-title">
  <div class="content">
  {{parentscope.test}}
      <h1><a ng-click="lastProject()"><i class="material-icons">&#xE5CB;</i></a> {{title}} <a ng-click="nextProject()"><i class="material-icons">&#xE5CC;</i></a></h1>
      <h2 ng-if="description">{{description}}</h2>
      <p class="award" ng-if="award"><i class="material-icons">&#xE8D0;</i> {{award}}</p>
  </div>
  <div class="preview"  ng-style="image != undefined && {'background': '#ECECEC url(images/'+image+') no-repeat center top', 'background-size': 'cover'}" ng-class="{phone: isphone===true}" ng-show="image || video">
    <iframe class="video" ng-show="video" width="1000" height="563" frameborder="0" allowfullscreen></iframe>
	  <div class="buttons">
	  	<div class="button"></div>
	  	<div class="button" ng-if="isphone!=true"></div>
	  	<div class="button" ng-if="isphone!=true"></div>
	  </div>
  </div>
</div>