<div class="project-title">
    <div class="content">
        <h1>Reading Parks</h1>
        <h2>book sharing community</h2>
        <p class="award"><i class="material-icons">&#xE8D0;</i> Best Use of Brisbane City Council Parks Data, GovHack 2014</p>
    </div>
    <div class="preview" style="background: lightgrey;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9W_5euw8zxQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <div class="buttons">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
        </div>
    </div>
</div>
