<div class="updates">
  <div class="update single" style="background: url('images/portfolio/Capture.png') no-repeat center top; background-size: cover;">
    <div class="single-image" style="background: url('images/portfolio/Capture.png') no-repeat center top; background-size: cover;"></div>
    <div class="text">
      <h2 class="proj-title">Single Image Post<i class="material-icons">&#xE5C8;</i></h2>
      <p class="proj-des">a brief description of the project</p>
      <p class="update-date">01 Feb 2016</p>
      <div class="update-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper, tellus ut sodales consequat, libero tellus mattis purus, blandit venenatis urna odio eget enim. Sed at tincidunt nunc. In enim tortor, maximus in augue quis, sodales congue nibh. Curabitur eget lobortis elit. Aenean lobortis a nisi eu pretium. Nullam a justo ut nulla accumsan tempor vel eu lacus. <strong>Sed in mi massa. Nullam mattis consectetur nulla sed accumsan. In in mi et ipsum finibus dignissim ut in dui. Maecenas tristique in magna eget facilisis.</strong> Quisque diam neque, tincidunt sed elementum vitae, pulvinar vitae libero. Donec nec odio metus. In gravida consectetur nibh dapibus blandit. In pharetra eros eu sapien vestibulum, eget auctor eros efficitur.</p>
        <p>Sed ligula tellus, dignissim et nisl eget, placerat iaculis erat. Nunc iaculis nisi turpis, in iaculis sapien pharetra ac. Sed non imperdiet neque. Nam et elit ultrices, dapibus nunc non, accumsan eros. Quisque imperdiet malesuada purus. Integer nec eros id enim iaculis maximus. Nullam porttitor nisl nec ante placerat tempus.</p>
      </div>
      <p class="tags"><span class="tag">#All</span> <span class="tag">#The</span> <span class="tag">#Tags</span> <span class="tag">#Are</span> <span class="tag">#Capitalised</span> <span class="tag">#And</span> <span class="tag">#No</span> <span class="tag">#Space</span> <span class="tag">#BetweenWords</span></p>
    </div>
  </div>
  <div class="update gallery">
    <div class="text">
      <h2 class="proj-title">Gallery Post<i class="material-icons">&#xE5C8;</i></h2>
      <p class="proj-des">a brief description of the project</p>
      <p class="update-date">01 Feb 2016</p>
      <div class="update-content">
        <p>Try to keep the text shorter for gallery posts as the gallery is vertically center aligned. Aenean lobortis a nisi eu pretium. Nullam a justo ut nulla accumsan tempor vel eu lacus. <strong>Sed in mi massa. Nullam mattis consectetur nulla sed accumsan. In in mi et ipsum finibus dignissim ut in dui. Maecenas tristique in magna eget facilisis.</strong> Quisque diam neque, tincidunt sed elementum vitae, pulvinar vitae libero. Donec nec odio metus. In gravida consectetur nibh dapibus blandit. In pharetra eros eu sapien vestibulum, eget auctor eros efficitur.</p>
      </div>
      <p class="tags"><span class="tag">#WebDesign</span> <span class="tag">#FrontendDevelopment</span> <span class="tag">#GraphicDesign</span> <span class="tag">#AngularJS</span> <span class="tag">#SASS</span> <span class="tag">#SVG</span> <span class="tag">#Git</span> <span class="tag">#Illustrator</span> <span class="tag">#Photoshop</span></p>
    </div>
    <div class="images" id="01112015morofton">
      <div class="image">
        <img src="images/portfolio/Capture.png">
        <div class="hover">
          <p class="caption">The old portfolio is text based with links to the work I have done.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/portfolio/sketch.png">
        <div class="hover">
          <p class="caption">Early Sketch that features a translucent landing page.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/portfolio/landing.gif">
        <div class="hover">
          <p class="caption">The coming soon landing page had a bright red colour scheme and bold fonts.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/portfolio/home.gif">
        <div class="hover">
          <p class="caption">Changing text, glowing buttons, and eyes that follow your cursor.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/portfolio/posts.png">
        <div class="hover">
          <p class="caption">Three post templates: gallery, single image, and text only.</p>
        </div>
      </div>
      <div class="left" ng-click="back('#01112015morofton'); $event.stopPropagation();"><i class="material-icons">&#xE5CB;</i></div>
      <div class="right" ng-click="next('#01112015morofton'); $event.stopPropagation()"><i class="material-icons">&#xE5CC;</i></div>
    </div>
  </div>
</div>
