<div class="project-title">
    <div class="content">
        <h1>The News Cloud</h1>
        <h2>news that follows you</h2>
    </div>
    <div class="preview" style="background: lightgrey;">
        <iframe src="https://player.vimeo.com/video/78799802?color=c9ff23&title=0&byline=0&portrait=0" width="890" height="501" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="buttons">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
        </div>
    </div>
</div>