<div class="updates">
  <div class="update single" project="lacasarosa" style="background: url('images/lacasarosa/gallery.jpg') no-repeat center top; background-size: cover;">
    <div class="single-image" style="background: url('images/lacasarosa/gallery.jpg') no-repeat center top; background-size: cover;"></div>
    <div class="text">
      <a href="#/lacasarosa"><h2 class="proj-title">La Casa Rosa<i class="material-icons">&#xE5C8;</i></h2></a>
      <p class="proj-des">Italian restaurant website redesign</p>
      <p class="update-date">26 Feb 2016</p>
      <div class="update-content">
        <p>Italian restaurant and hotel <a href="http://sognocasarosa.com/" target="_blank"><i class="material-icons">&#xE157;</i> La Casa Rosa</a> asked <a href="http://www.andreaepifani.com" target="_target"><i class="material-icons">&#xE157;</i> Andrea Epifani</a> and me to redesign their website. The old site had a very dated aesthetics. The redesign features a hint of skeuomorphism, such as the poping out photo frames and stitches around text boxes. This gives the website a cosy feel and makes it stand out from the 'flat' trendy look. I designed the website while Andrea took care of the development.</p>
      </div>
      <p class="tags"><span class="tag">#WebDesign</span> <span class="tag">#Illustrator</span> <span class="tag">#Photoshop</span>
    </div>
  </div>
  <div class="update gallery" project="anemu">
    <div class="text">
      <a href="#/anemu"><h2 class="proj-title">Anemu<i class="material-icons">&#xE5C8;</i></h2></a>
      <p class="proj-des">identify local animals and record sightings</p>
      <p class="update-date">26 Feb 2016</p>
      <div class="update-content">
        <p>Anemu was an entry for GovHack 2015, developed in collaboration with <a href="http://www.callumbuckmaster.com" target="_target"><i class="material-icons">&#xE157;</i> Callum Buckmaster</a>. It was selected the runner-up of Best Science Hack.  I was in charge of the design and development of the app's frontend. Anemu is an mobile app that helps users, especially curious young children identify animals around them. Instead of going through long lists of animal names, Anemu uses an image based approach. Users can simply select the most similar animal from a list of images, then the app will bring up images of more similar animals until the actual one is found. Anemu also contributes to open data by submiting sightings. <strong>It turns people's curiocity about animals into useful, publically available data.</strong>.</p>
      </div>
      <p class="tags"><span class="tag">#PhoneGap</span> <span class="tag">#UXDesign</span> <span class="tag">#UIDesign</span> <span class="tag">#Mobile</span> <span class="tag">#Android</span> <span class="tag">#iOS</span> <span class="tag">#Ionic</span>
    </div>
    <div class="images" id="26022016anemu">
      <div class="image">
        <img src="images/anemu/anemu_01.jpg">
        <div class="hover">
          <p class="caption">Anemu was awarded the second best science hack.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/anemu/anemu_02.jpg">
        <div class="hover">
          <p class="caption">Anemu helps users identify animals.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/anemu/anemu_03.jpg">
        <div class="hover">
          <p class="caption">Anenu lets you record sightings.</p>
        </div>
      </div>
      <div class="left" ng-click="back('#26022016anemu'); $event.stopPropagation();"><i class="material-icons">&#xE5CB;</i></div>
      <div class="right" ng-click="next('#26022016anemu'); $event.stopPropagation()"><i class="material-icons">&#xE5CC;</i></div>
    </div>
  </div>
  <div class="update single" project="readingparks" style="background: url('images/readingparks/bg.jpg') no-repeat center top; background-size: cover;">
    <div class="single-image" style="background: url('images/readingparks/bg.jpg') no-repeat center top; background-size: cover;"></div>
    <div class="text">
      <a href="#/readingparks"><h2 class="proj-title">Reading Parks<i class="material-icons">&#xE5C8;</i></h2></a>
      <p class="proj-des">book sharing community</p>
      <p class="update-date">25 Feb 2016</p>
      <div class="update-content">
        <p>Reading Parks was an entry for GovHack 2014, developed in collaboration with <a href="http://www.andreaepifani.com" target="_target"><i class="material-icons">&#xE157;</i> Andrea Epifani</a> and Andrea Vincita. It was selected the winner of Best Use of Brisbane City Council Parks Data. The web application is a platform for users to share book by leaving books in parks that have covered spaces that can be used to store books. Users can log onto the website to look for books around them, drop new books, and write reviews of the books they have written. <strong>What's interesting about this app is that you can follow 'the journey of the books as they get picked up, read, and reviewed by different people</strong>.</p>
        <p>Reading parks was developed in web technology. It gets data from Brisbane's park data, and open source library database, to create a easy to use application. All that a user needs to do is typing in the name of the book, and selecting a approved park. All the images and infomation about the books are directly taken from open source library database. Considering users would use the app outside when they look for books, the website is also optimised for mobile use.</p>
      </div>
      <p class="tags"><span class="tag">#WebDesign</span> <span class="tag">#WebApplication</span> <span class="tag">#FrontendDevelopment</span> <span class="tag">#Teamwork</span> </p>
    </div>
  </div>
  <div class="update gallery" project="merchantwarriors">
    <div class="text">
      <a href="#/merchantwarriors"><h2 class="proj-title">Merchant Warrior<i class="material-icons">&#xE5C8;</i></h2></a>
      <p class="proj-des">Australian payment portal redesign</p>
      <p class="update-date">25 Feb 2016</p>
      <div class="update-content">
        <p><a href="http://www.merchantwarrior.com" target="_blank"><i class="material-icons">&#xE157;</i> Merchant Warrior</a> asked me to redesign their website, starting from the payment forms. The old pages were not properly structured, and lacked visual hierarchy. They tried to implemented Google's material design, but didn't not follow the guidelines properly. The pages ended up having bad user experience, and did not look consistent with the rest of the brand.</p>
        <p>While designing these pages, some email banners, and a new twitter banner, a easy-to-use visual language was developed. This includes a think and thin font contrast, a little shield icon, and the dominant colour blue. This can be used by the company as a design guide to keep future extensions to the website and the brand visually consistent.</p>
        <p>All the pages were mocked up, reviewed, and developed into templates using HTML, CSS, and JavaScript. Due to the broad range of clients they have, the templates were also compatible with earlier versions of the Internet Explorer.</p>
      </div>
      <p class="tags"><span class="tag">#FrontendDevelopment</span> <span class="tag">#UXDesign</span> <span class="tag">#UIDesign</span> <span class="tag">#GraphicDesign</span> <span class="tag">#MockUps</span> <span class="tag">#Illustrator</span> <span class="tag">#Photoshop</span> <span class="tag">#InVision</span>
    </div>
    <div class="images" id="25022016merchant">
      <div class="image">
        <img src="images/merchantwarrior/banners.jpg">
        <div class="hover">
          <p class="caption">Promotional email banners.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/merchantwarrior/dda_new.jpg">
        <div class="hover">
          <p class="caption">The new direct debit authorisation form design.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/merchantwarrior/hosted_new.jpg">
        <div class="hover">
          <p class="caption">The new hosted payment form design.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/merchantwarrior/twitter.jpg">
        <div class="hover">
          <p class="caption">New Twitter banner design.</p>
        </div>
      </div>
      <div class="left" ng-click="back('#25022016merchant'); $event.stopPropagation();"><i class="material-icons">&#xE5CB;</i></div>
      <div class="right" ng-click="next('#25022016merchant'); $event.stopPropagation()"><i class="material-icons">&#xE5CC;</i></div>
    </div>
  </div>
  <div class="update gallery" project="1linepitch">
    <div class="text">
      <a href="#/1linepitch"><h2 class="proj-title">1LinePitch<i class="material-icons">&#xE5C8;</i></h2></a>
      <p class="proj-des">pitch ideas in one line and get feedback</p>
      <p class="update-date">25 Feb 2016</p>
      <div class="update-content">
        <p>1LinePitch is an app that lets you pitch your ideas and get feedback. The application is designed to be playful and interactive, to make pitching less intimidating. All you need is ideas (and your email address). Once a pitch is submitted, you can share the link with everyone or a targeted group. If your pitch is set to be public, everyone who goes on the site will be able to see your pitch and vote.</p>
        <p>Views can click on the 'I WANT IT' button to express their interest in the idea. If they like it enough, they can subscribe to the pitch and receive updates on the progress you've made on the project. <strong>1LinePitch helps you get a group of potential audience and validate your idea before you even start working on a project</strong>.</p>
        <p>The project is still in the process of being developed, but you can try it <a href="http://www.1linepitch.com" target="_blank"><i class="material-icons">&#xE157;</i> here</a> today.</p>
      </div>
      <p class="tags"><span class="tag">#FrontendDevelopment</span> <span class="tag">#AngularJS</span> <span class="tag">#HTML5</span> <span class="tag">#CSS3</span> <span class="tag">#Sass</span> <span class="tag">#UXDesign</span>
    </div>
    <div class="images" id="250220161line">
      <div class="image">
        <img src="images/1line/start.gif">
        <div class="hover">
          <p class="caption">Scroll up to open the pitch panel.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/1line/colours.gif">
        <div class="hover">
          <p class="caption">Customise your pitch with colours and categories.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/1line/finish.gif">
        <div class="hover">
          <p class="caption">Building of the OneRing: storyboards, prototypes, user flow.</p>
        </div>
      </div>
      <div class="left" ng-click="back('#250220161line'); $event.stopPropagation();"><i class="material-icons">&#xE5CB;</i></div>
      <div class="right" ng-click="next('#250220161line'); $event.stopPropagation()"><i class="material-icons">&#xE5CC;</i></div>
    </div>
  </div>
  <div class="update gallery" project="1ring">
    <div class="text">
      <a href="#/1ring"><h2 class="proj-title">OneRing<i class="material-icons">&#xE5C8;</i></h2></a>
      <p class="proj-des">A watch that makes you more productive</p>
      <p class="update-date">25 Feb 2016</p>
      <div class="update-content">
        <p>The design of the OneRing went through several iterations over the period of development. It was originally imagined as a ring that discretely whispers to you your tasks through bone-conduction speakers. However, due to time and technology limit, the prototype took the form of a watch-like wrist-mounted device. We designed a very unique but intuitive touch control scheme that allows users to move their finger around the watch face to adjust time and set up reminders. The design was tested with real people after each design iteration and improved upon based on the feedback.</p>
      </div>
      <p class="tags"><span class="tag">#Brainstorming</span> <span class="tag">#Storyboarding</span> <span class="tag">#Illustration</span> <span class="tag">#Arduino</span> <span class="tag">#Android</span> <span class="tag">#UXDesign</span>
    </div>
    <div class="images" id="250220161ring">
      <div class="image">
        <img src="images/1ring/display.jpg">
        <div class="hover">
          <p class="caption">The team presenting the OneRing.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/1ring/ring.png">
        <div class="hover">
          <p class="caption">It was originally designed as a ring that whipers.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/1ring/building.jpg">
        <div class="hover">
          <p class="caption">Building of the OneRing: storyboards, prototypes, user flow.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/1ring/voice.jpg">
        <div class="hover">
          <p class="caption">The OneRing is voice controlled.</p>
        </div>
      </div>
      <div class="left" ng-click="back('#250220161ring'); $event.stopPropagation();"><i class="material-icons">&#xE5CB;</i></div>
      <div class="right" ng-click="next('#250220161ring'); $event.stopPropagation()"><i class="material-icons">&#xE5CC;</i></div>
    </div>
  </div>
  <div class="update textonly" project="1ring">
    <div class="text">
      <a href="#/1ring"><h2 class="proj-title">OneRing<i class="material-icons">&#xE5C8;</i></h2></a>
      <p class="proj-des">A watch that makes you more productive</p>
      <p class="update-date">01 Feb 2016</p>
      <div class="update-content">
        <p>OneRing was a project developed by team NORDZ from the University of Queensland for the course Physical Computing Studio. The team consisted of four members: <a href="http://www.callumbuckmaster.com/" target="_blank"><i class="material-icons">&#xE157;</i> Callum Buckmaster</a>, <a href="https://www.youtube.com/channel/UCf6d4cxVhFSbLWR5PMLKBlQ" target="_blank"><i class="material-icons">&#xE157;</i> Stuart Manuel</a>, Bob Sun, and me. I was the lead user experience designer and project manager in the team. I also constructed two working prototypes of OneRing for the exhibition.</p>
        <p>OneRing is a wearable device that records your to-do events and reminders, and remind you about them at the corner of your sight without needing you to seek for it. It includes a NeoPixel LED ring, a LED strip, a LED button, and a speaker as output, a circular potentiometer, a button, and a microphone for input, and a Bluetooth module paired with Android devices for communication and syncing up tasks, voice reminders, and time. Unlike smart watches which include almost as many features as the manufacturers are able to put in, OneRing focuses on solving one single problem that people have: remembering tasks. Instead of using applications on smart devices, OneRing displays reminders on your wrist and only requires minimal, intuitive physical interactions with the device that wouldn't distract you from what you're doing.</p>
        <p>OneRing can display current time like a watch when you tap the touch ring, but the task view of OneRing makes you much more productive. Instead of being distracted by what you want to do at certain time of the day, e.g. rest at 2pm, OneRing shows you how much time you have to finish the current task before the next one comes up. This way, the focus is always on the task itself.</p>
      </div>
    </div>
  </div>
  <div class="update single" project="portfolio" style="background: url('images/portfolio/works.png') no-repeat center top; background-size: cover;">
    <div class="single-image" style="background: url('images/portfolio/Capture.png') no-repeat center top; background-size: cover;"></div>
    <div class="text">
      <a href="#/portfolio"><h2 class="proj-title">Portfolio 2016<i class="material-icons">&#xE5C8;</i></h2></a>
      <p class="proj-des">redesigned to be more personal</p>
      <p class="update-date">25 Feb 2016</p>
      <div class="update-content">
        <p>I've finally finished building the basic structure of the portfolio. Since the goal of the redesign is to make it as simple as possible, I didn't integrate it with any content management system. All the bells and whistles of a proper CMS stresses me out. I'll see what features I absolutely need, then develop them as I go. For now, the system is able to handle what I want it to do pretty well.</p>
        <p>In a nutshell, the site has two parts: the 'above-the-fold' title page, and the posts. When going to a different page, only the title page is changed. The posts section is still the same one, except the posts are filtered based on the url. To make the page switching look smoother, there's a fade transition when the url is changed. The page is also scrolled to the top so that the changed height of the page caused by posts filtering wouldn't be visible to the viewer. This structure will likely save me a lot of time in the future when updating the site, because I only need to create a small title page for each new project, and there's a template for that.</p>
      </div>
      <p class="tags"><span class="tag">#WebDesign</span> <span class="tag">#FrontendDevelopment</span> <span class="tag">#GraphicDesign</span> <span class="tag">#AngularJS</span> <span class="tag">#SASS</span> <span class="tag">#jQuery</span> <span class="tag">#Git</span>
    </div>
  </div>
  <div class="update gallery" project="portfolio">
    <div class="text">
      <a href="#/portfolio"><h2 class="proj-title">Portfolio 2016<i class="material-icons">&#xE5C8;</i></h2></a>
      <p class="proj-des">redesigned to be more personal</p>
      <p class="update-date">01 Feb 2016</p>
      <div class="update-content">
        <p>My last portfolio was a text based site, it was a concise, fun little site, but the format was a little limiting and I wasn't really updating it. I thought I would <strong>redesign my portfolio to better present me and my professional work, while making me want to update more</strong>. After experimenting with different layout, colour scheme, fonts, and novel interaction idea, I came to the conclusion that a casual and fun journal format would both be able to present my work in flexible layout and interest me to write in it.</p>
        <p>I try to keep a unique style to the website, so I decided on the combination of a typewritter font, flat graphic, and simplistic layout. Something that's different from the one page layout everyone is using recently. To eliminate the need for formatting individual posts and webpages, I kept the colour scheme, text styles and layout very limited, so that the focus is alway on content itself. There isn't even a place for titles in update posts, because I find coming up with titles for posts is stressful.</p>
        <p>So far, I have designed three different kinds of post format: gallery (which this post uses), single image, and text only posts. These will cover most of the content I will be posting, but I will be able to easily add new kinds of post due to the flexiblity of the layout. After designing the mockups in photoshop, planning the transitions and animations, I developed the website from scratch with HTML5, SASS, and Angular JS.</p>
      </div>
      <p class="tags"><span class="tag">#WebDesign</span> <span class="tag">#FrontendDevelopment</span> <span class="tag">#GraphicDesign</span> <span class="tag">#AngularJS</span> <span class="tag">#SASS</span> <span class="tag">#SVG</span> <span class="tag">#Git</span> <span class="tag">#Illustrator</span> <span class="tag">#Photoshop</span></p>
    </div>
    <div class="images" id="01112015portfolio">
      <div class="image">
        <img src="images/portfolio/Capture.png">
        <div class="hover">
          <p class="caption">The old portfolio is text based with links to the work I have done.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/portfolio/sketch.jpg">
        <div class="hover">
          <p class="caption">Early Sketch that features a translucent landing page.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/portfolio/landing.gif">
        <div class="hover">
          <p class="caption">The coming soon landing page had a bright red colour scheme and bold fonts.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/portfolio/home.gif">
        <div class="hover">
          <p class="caption">Changing text, glowing buttons, and eyes that follow your cursor.</p>
        </div>
      </div>
      <div class="image">
        <img src="images/portfolio/posts.png">
        <div class="hover">
          <p class="caption">Three post templates: gallery, single image, and text only.</p>
        </div>
      </div>
      <div class="left" ng-click="back('#01112015portfolio'); $event.stopPropagation();"><i class="material-icons">&#xE5CB;</i></div>
      <div class="right" ng-click="next('#01112015portfolio'); $event.stopPropagation()"><i class="material-icons">&#xE5CC;</i></div>
    </div>
  </div>
</div>
<div class="loadmore" ng-click="showmore()">
  <i class="material-icons">&#xE148;</i> Load More
</div>
<div class="bigimg hidden">
  <img ng-src="{{imgurl}}">
  <p class="caption" ng-show="imgcaption">{{imgcaption}}</p>
  <div class="close" ng-click="hideBigImg()">
    <!-- <i class="material-icons">&#xE313;</i> -->
    <i class="material-icons">&#xE5CD;</i>
  </div>
  <div class="nav">
    <div class="left" ng-click="lastSlide();"></div>
    <div class="right" ng-click="nextSlide();"></div>
  </div>
</div>