<div class="project-title">
    <div class="content">
        <h1>Waterbottle</h1>
        <h2>helps you keep hydrated</h2>
        <p class="award"><i class="material-icons">&#xE8D0;</i> Best Mobile App, GovHack 2014</p>
    </div>
    <div class="preview" style="background: lightgrey;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EFizcGH6V_0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <div class="buttons">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
        </div>
    </div>
</div>
