<div class="project-title work">
  <div class="projects">
      <a href="#/1ring" class="project" style="background: url('images/thumbs/1ring.jpg') no-repeat center; background-size: cover;">
      <h2>Onering</h2>
      <p class="tag">wearable</p>
      </a>
      <a href="#/readingparks" class="project" style="background: url('images/thumbs/readingparks.jpg') no-repeat center; background-size: cover;">
      <h2>Reading Parks</h2>
      <p class="tag">web</p>
      </a>
      <a href="#/1linepitch" class="project" style="background: url('images/thumbs/1line.jpg') no-repeat center; background-size: cover;">
      <h2>1Line Pitch</h2>
      <p class="tag">web</p>
      </a>
      <a href="#/merchantwarriors" class="project" style="background: url('images/thumbs/merchant.png') no-repeat center; background-size: cover;">
      <h2>Merchant Warriors</h2>
      <p class="tag">web</p>
      </a>
      <a href="#/anemu" class="project" style="background: url('images/thumbs/anemu.jpg') no-repeat center; background-size: cover;">
      <h2>Anemu</h2>
      <p class="tag">mobile</p>
      </a>
      <a href="#/lacasarosa" class="project" style="background: url('images/thumbs/lacasarosa.jpg') no-repeat center; background-size: cover;">
      <h2>La Casa Rosa</h2>
      <p class="tag">web</p>
      </a>
      <a href="#/misale" class="project" style="background: url('images/thumbs/misale.jpg') no-repeat center; background-size: cover;">
      <h2>MiSale</h2>
      <p class="tag">web</p>
      </a>
      <a href="#/morofton" class="project" style="background: url('images/thumbs/morofton.jpg') no-repeat center; background-size: cover;">
      <h2>Morofton</h2>
      <p class="tag">mobile</p>
      </a>
      <a href="#/thenewscloud" class="project" style="background: url('images/thumbs/newscloud.jpg') no-repeat center; background-size: cover;">
      <h2>The News Cloud</h2>
      <p class="tag">physical</p>
      </a>
      <a href="#/waterbottle" class="project" style="background: url('images/thumbs/waterbottle.jpg') no-repeat center; background-size: cover;">
      <h2>Waterbottle</h2>
      <p class="tag">mobile</p>
      </a>
      <a href="#/tuition" class="project" style="background: url('images/thumbs/tuition.jpg') no-repeat center; background-size: cover;">
      <h2>Tuition</h2>
      <p class="tag">web</p>
      </a>
      <a href="#/mystories" class="project" style="background: url('images/thumbs/mystories.jpg') no-repeat center; background-size: cover;">
      <h2>My Stories</h2>
      <p class="tag">mobile</p>
      </a>
      <a href="#/brisaccess" class="project" style="background: url('images/thumbs/brisaccess.jpg') no-repeat center; background-size: cover;">
      <h2>BrisAccess</h2>
      <p class="tag">mobile</p>
      </a>
      <a href="#/wildlifeausmag" class="project" style="background: url('images/thumbs/wildlife.jpg') no-repeat center; background-size: cover;">
      <h2>Wildlife Australia</h2>
      <p class="tag">web</p>
      </a>
      <a href="#/portfolio" class="project" style="background: url('images/thumbs/portfolio.jpg') no-repeat center; background-size: cover;">
      <h2>Portfolio</h2>
      <p class="tag">web</p>
      </a>
      <a href="#/misc" class="project" style="background: url('images/thumbs/misc.jpg') no-repeat center; background-size: cover;">
      <h2>Misc.</h2>
      </a>
      <div style="width: 100%; height: 64px;"></div>
  </div>
      <div class="scrolltip">
          <p>latest <i class="material-icons">&#xE313;</i> updates</p>
      </div>
</div>
